@page "/makes/create/"

@inject IHttpRepository<Make> _client
@inject NavigationManager _navManager


<h3 class="card-title">Create new Make</h3>

<hr />
<br />
<FormComponent ButtonText="Create Make" make="make"
               OnValidSubmit="CreateMakes" />



@code {


    Make make = new Make();
    private IList<Make> Makes;



    private async Task CreateMakes()
    {
        await _client.Create(Endpoints.MakesEndpoint, make);
        _navManager.NavigateTo("/makes/");
    }
}

