@page "/colours/create/"




<h3 class="card-title">Create new Colour</h3>

<hr />
<br />
<FormComponent ButtonText="Create Colour" colour="colour"
               OnValidSubmit="CreateColours" />



@code {


}

